html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.current {
  background-color: #b20953;
}

h1 {
  color: #b20953;
  text-align: center;
  font-family: "Sigmar One", cursive;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

li {
  display: inline;
}

a {
  font-family: Georgia;
  padding: .4em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

div {
  background-color: #ffe500;
  padding: .2em .5em .3em;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.9rem;
  margin: 1em .5em;
}

main p {
  font-family: Georgia;
  text-align: left;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

a:hover {
  background-color: #cc1465;
}

p {
  color: #2f2d13;
}

figcaption {
  color: #2f2d13;
}

main {
  margin: 0;
}

figure {
  margin: 0;
}
