html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.current {
  background-color: #b20953;
}

h1 {
  color: #b20953;
  text-align: center;
  font-family: "Sigmar One", cursive;
  margin: 0;
  font-size: 3rem;
}

li {
  display: inline;
}

a {
  font-family: Georgia;
  padding: .45em .5em;
  background-color: #b2a212;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 1.13rem;
  margin: 0;
}

div {
  background-color: #ffe500;
  padding: 0 0 .6em;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: .3em 0 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.86rem;
  margin: .85em .5em;
}

main p {
  font-family: Georgia;
  text-align: left;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .77em;
  margin: 0;
}

img {
  width: 100%;
  padding: 0 1em 0 0;
  display: block;
  margin: 0 .7em;
  text-align: left;
}

a:hover {
  background-color: #cc1465;
}

p {
  color: #2f2d13;
  font-size: 1rem;
  margin: 1em;
}

figcaption {
  color: #2f2d13;
  margin: 1em .3em;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4;
}

main {
  margin: 0;
}

figure {
  margin: .3em;
}
